/* Header Layout */
header {
    display: grid;
    grid-template-columns: auto auto 1fr;
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    grid-column: 1 / 2;
    align-self: center;
}

.logo img {
    height: 40px;
}

.search-bar {
    grid-column: 2 / 3;
    margin-right: 20px;
}

.hamburger-menu {
    grid-column: 3 / 4;
    align-self: center;
    display: none;
}

.hamburger-menu span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #333;
}

/* Main Content Layout */
main {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: auto auto;
    grid-template-areas:
        "content toc"
        "content toc";
    padding: 20px;
    margin-left: 220px;
    margin-top: 100px; /* Adjusted to accommodate the header and hamburger menu */
    padding-top: 20px; /* Added to create space for the header */
}

main > * {
    grid-area: content;
}

aside.sticky {
    grid-area: toc;
    position: -webkit-sticky;
    position: sticky;
    top: 100px; /* Adjusted to accommodate the header */
}

/* Table of Contents */
nav {
    margin-top: 20px;
}

nav ul {
    list-style-type: none;  
}