/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #000; /* Default text color */
}

/* Header Layout */
header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    background-color: #000180;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    grid-column: 1 / 2;
    align-self: center;
}

.logo img {
    height: 40px;
}

.search-bar {
    grid-column: 2 / 3;
    margin-right: 20px;
}

.search-bar input[type="search"] {
    width: 200px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.hamburger-menu {
    grid-column: 3 / 4;
    align-self: center;
    cursor: pointer;
}

.hamburger-menu span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #fff;
}

/* Main Content Layout */
main {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: auto auto;
    grid-template-areas:
        "content toc"
        "content toc";
    padding: 20px;
    margin-top: 100px;
    padding-top: 20px;
}

main > * {
    grid-area: content;
}

aside.sticky {
    grid-area: toc;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
}

/* Table of Contents */
nav {
    margin-top: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    color: #fff; /* Link color */
    text-decoration: none;
}

.nav-active {
    display: block !important;
}

/* Change nav bar heading color */
header h1 {
    color: #33adad;
}