
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #000; 
}

/* Header Layout */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #33adad;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo img {
    height: 40px;
}

.search-bar {
    display: flex; /* Change to flex to align items */
    align-items: center; 
}

.search-bar input[type="search"] {
    width: 200px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.hamburger-menu {
    cursor: pointer;
}

.menu-bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #fff;
    transition: transform 0.3s ease; 
}

.nav-active .menu-bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.nav-active .menu-bar:nth-child(2) {
    opacity: 0; 
}

.nav-active .menu-bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Styling for links in the hamburger menu */
#sidebar nav ul li a {
    color: #33adad; /* Link color */
    text-decoration: none;
    transition: color 0.3s ease; 
}

#sidebar nav ul li a:hover {
    color: #ddd; 
}

/* Main Content Layout */
main {
    padding: 20px;
    margin-top: 100px;
    padding-top: 60px; 
}

/* Table of Contents */
nav {
    margin-top: 20px;
    display: none; 
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

.nav-active nav {
    display: block;
}

section {
    border-bottom: 1px solid #cccccc; 
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

section h2 {
    color: #000180; 
    font-size: 1.5rem;
    margin-bottom: 10px;
}

section p {
    color: #666666; 
}

footer {
    background-color: #000180; 
    color: #ffffff; 
}

footer p {
    font-size: 0.8rem;
}


